.User{
    box-sizing: border-box;
    width: 60%;
    margin: 40px auto;
    border: 5px solid #cccccc;
    box-shadow: -10px 5px 5px #eee;
    padding: 20px;
    height: 350px;
}

.Edit{
    color: blue;
    font-size: 15px;
    /* text-decoration: underline; */
    height: auto;
    position: relative;
    left: 115px;
    width: 30%;
    margin: auto;
    z-index: 10;
}

.Edit p:hover{
    color: black;
    cursor: pointer;
    text-decoration: none;
}

/* .EditP:hover{
    color: red;
    cursor: pointer;
} */


.UserData{
    position: relative;
    bottom: 65px;
    z-index: 0;
}

@media (max-width: 500px) {
    .User{
    height: auto;
    width: 80%;
    }
    .Edit{
        left: 0px;
        width: 60%;
    }
    .UserData{
        bottom: 0px;
    }
}